body {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header__top {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: list-item;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.menu__top {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    padding: 34px 0px;
}